@import "@fontsource/montserrat/latin-900.css";
@import "@fontsource/inter/latin-400.css";

:root {
    --background: rgba(255, 255, 255, 0.4);
    --border: rgba(0, 0, 0, 0.2);
    --border-active: rgba(0, 0, 0, 0.4);
    --text: #112;
    --link: #0055d4;
    --info: #0007;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: rgba(17, 17, 34, 0.5);
        --border: rgba(153, 238, 255, 0.2);
        --border-active: rgba(153, 239, 255, 0.4);
        --text: #f6f6ff;
        --link: #89b2ee;
    }
}

body, html {
    margin: 0;
    padding: 0;
    color: var(--text);
}
